.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{color: #fff}
.navbar-right{margin-top: 10px;}
.mt-25{margin-top: 25px}
.mb-25{margin-bottom: 25px}
.mb-70{margin-bottom: 70px}
.p-20{padding: 20px;}
/*ul.nav li.dropdown{margin-top: 5px;}*/
/*ul.nav li.dropdown a.dropdown-toggle{background: #f57f03; padding: 10px; border-radius: 10px; text-transform: capitalize;}*/
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{color: #f57f03}

.fl-left{float: left;}
.fl-right{float: right;}
.relative{position: relative;}
.content{min-height: 80vh}
.content img{width: 100%;}

.circle{border-radius: 100%; padding: 16px 20px !important}
.btn-small{padding: 0px 25px !important; margin-right: 10px;}

/*header*/
.header{background-color: #78a0d1; color: #fff; padding: 10px 0; margin: 0;}
.logo .img{float: left; width: 45px}
.logo a{color: #fff}
.logo .img img{width: 100%;}
.text{float: left; margin: 15px 0 0 10px;line-height: 1em; font-size: 18px}

.homePage{position: relative;}
/*form-maps*/
.form-maps{position: absolute; left: 0; top: 20px; right: 0; z-index: 99}
.form-maps .centered{width: 500px; margin: 0 auto; display: table; box-shadow: 0px 0px 20px 0px #6b6a6a;}
.form-maps .centered input{width: 100%; padding: 10px; border: 2px solid #78a0d1;}
/*.form-maps .centered input{width: 100%; padding: 10px; border: 2px solid #f57f03;}*/

/*footer*/
/*.footer{float: left; width: 100%; text-align: center; background: #78a0d1; color: #fff; padding: 40px}*/


/*Login page*/
.auth {float: left; width: 100%; background-image: url("../img/bg-login.jpg"); background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-color: #464646; height: 100vh }
.auth .panel {margin-top: 5em; padding: 3em 0; background: rgba(255, 255, 255, .77) }
.auth .panel .auth__logo {display: table; margin: auto }
.auth .panel .auth__logo img {width: 13em; height: auto; display: block; margin-bottom: 10px }
.auth .panel .auth__title {color: #333; font-size: 22px; text-transform: uppercase; text-align: center; width: 100%; display: inline-block; margin-bottom: 20px; font-weight: 400 }
.auth .panel .auth__title span {color: #f57f03; }
.auth .panel .error {color: red }


.btn.btn-success {background: #f57f03; border: 1px solid #f57f03; padding: 16px; }


/*sidebar*/
.sidebar{background: #36404e; height: 100vh; padding-top: 50px; color: #fff}

/*list_marker*/
.list_marker{position: absolute; bottom: 0; left: 0; top: 0; z-index: 9; width: 31%; background: #fff;}
.list_marker .list_{margin: 0; padding: 0; height: 100vh; overflow-y: scroll; padding: 20px}
.list_marker .list_ .title{margin: 0; margin-bottom: 20px;}
.list_marker .list_ ul{margin: 0; padding: 0;}
.list_marker .list_ ul li{float: left; width: 100%; list-style: none; margin-bottom: 20px;}
.list_marker .list_ ul li a{color: #000}
.list_marker .list_ ul li .vid{float: left; width: 40%; background: #000;}
.list_marker .list_ ul li .desc_{float: left; margin: 0 0 0 20px; position: relative;}
.list_marker .list_ ul li .desc_ .readmore{float: left; width: 100%; margin-top: 20px;}
	.list_marker .list_ .notfound_{float: left; width: 100%; margin-top: 90%; text-align: center; font-size: 20px; color: #ababab}
	
	.list_marker .btn_slide{position: absolute; right: -40px; top: 50%; z-index: 2}
	.list_marker .btn_slide a{background: #fff; color: #000; font-size: 25px;font-size: 25px; float: left; padding: 20px 10px 20px 20px;}
	.list_marker .btn_slide a:hover{text-decoration: none;}
	.list_marker .btn_slide a:focus{text-decoration: none;}

.container_10{padding: 20px}


.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{text-transform: capitalize;}



/*btn-detail-abs*/
.btn-detail-abs{position: absolute; right: 10px; bottom: 10px;}
.btn-detail-abs a{color: #fff}